body{
  background-color:;
}


.pass-input{
  margin-left: 0px;
}

.title{
  margin-left: -5px;
}
.title1{
  margin-left: -10px;
}
.title3{
  margin-left: 14px;
}

.block{
  margin-right: 50px;
}

.title4{
  margin-right: 200px;
}

.boxed {
  border: 1px solid green ;
}
